<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title> {{pageTitle}} </title>
  </head>
  <body>
      {{> header}}
      <p> The site will be back soon. feel free to Contact admin on +971-558650466 </p>
  </body>
  {{> footer}}
</html>
